/* font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background-color: #F5F8FF;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.6;
}

/* font setup */
.noto-serif-font {
  font-family: "Noto Serif", serif;
}
.inter-font {
  font-family: "Inter", sans-serif;
}

/* Default style */
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
img {
    max-width: 100%;
    display: block;
}
.dark {
    color: #000;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;
}
.navbar_brand {
    height: 74px;
}
.navbar ul {
    display: flex;
    gap: 48px;
    align-items: center;
}
.navbar ul li a {
    color: #8987A1;
    font-size: 1rem;
    line-height: 1.5rem;
}
.navbar_ul_cart a {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
}
.navbar ul li.navbar_ul_cart a{
    color: #000;
}
.navbar_ul_cart a i {
  color: #000;
  font-size: 24px;
}
.navbar ul li:first-child a{
    color: #000;
    font-weight: 700;
}